{{ ansible_managed | comment }}

LANG="{{ locale_lang }}"
LANGUAGE="{{ locale_language }}"
LC_ADDRESS="{{ locale_lc_address }}"
LC_ALL="{{ locale_lc_all }}"
LC_COLLATE="{{ locale_lc_collate }}"
LC_CTYPE="{{ locale_lc_ctype }}"
LC_IDENTIFICATION="{{ locale_lc_identification }}"
LC_MEASUREMENT="{{ locale_lc_measurement }}"
LC_MESSAGES="{{ locale_lc_messages }}"
LC_MONETARY="{{ locale_lc_monetary }}"
LC_NAME="{{ locale_lc_name }}"
LC_NUMERIC="{{ locale_lc_numeric }}"
LC_PAPER="{{ locale_lc_paper }}"
LC_RESPONSE="{{ locale_lc_response }}"
LC_TELEPHONE="{{ locale_lc_telephone }}"
LC_TIME="{{ locale_lc_time }}"
